@page "/Service/{serviceId?}"
@model HolaGuide.Pages.Service.DetailModel
@{
    @using Services.Global;
    var listImage = Model.Service.Images.ToList();
}

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="/css/Service/Detail.css" />
<link rel="stylesheet" href="/css//Home/ServiceComponent/Default.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    function handleImageError(img) {
        img.src = "/images/holaguide_avatar.png";
    }
</script>

@if (listImage != null && listImage.Count >= 5)
{
    <div class="container">
        <div class="row">
            <h3 class="m-4 text-center">@Model.Service.Name</h3>
        </div>
        <div class="row">
            <div class="col-6 rounded g-2">
                <img src="@(listImage[0].Path)" onerror="handleImageError(this)" class="image shadow" />
            </div>
            <div class="col-6 rounded g-2">
                <div class="row g-2 w-100">
                    @for (int i = 1; i < 5; i++)
                    {
                        <div class="col-6 rounded g-2">
                            <img src="@(listImage[i].Path)" onerror="handleImageError(this)" class="image shadow" />
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-8">
                <h4>Thông tin cơ bản</h4>
                <div class="row info-div">
                    <p class="sub-text"><i class="fa-solid fa-location-dot" style="color: #4F6083; margin-right: .5rem"></i>Vị trí: <span class="sub-text value">@Model.Service.Location?.Description</span></p>
                    <p class="sub-text"><i class="fa-solid fa-dollar-sign" style="color: #4F6083; margin-right: .5rem"></i>Giá tiền: <span class="sub-text value">@Model.Service.GetFullPrice()</span></p>
                    <p class="sub-text"><i class="fa-solid fa-circle-info" style="color: #4F6083; margin-right: .5rem"></i>Mô tả: <span class="sub-text value">@Model.Service.Title</span></p>
                </div>

                <h4>Bình luận</h4>
                <div class="row info-div">
                    <div class="feedback-area" id="feedback-area">
                        @if (Model.MyFeedback != null)
                        {
                            <div class="row feedback" id="myfeedback">
                                <div class="feedback-user">
                                    <div class="wrapper-user-feedback">
                                        <div class="img"></div>
                                        <div>
                                            <h6>Tôi <span class="feedback-date">• @(GlobalService.FromDateToTime(Model.MyFeedback.PostDate))</span></h6>
                                            <p>@Model.MyFeedback.Content</p>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn-custom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i style="font-size: 1.25rem" class="fa-solid fa-ellipsis-vertical"></i>
                                        </button>
                                        
                                        <ul class="dropdown-menu shadow">
                                            <form class="myfeedback-form" asp-page="/Service/Detail">
                                            <input type="hidden" name="feedbackId" value="@Model.MyFeedback.Id">
                                                <input type="hidden" name="serviceId" value="@Model.Service.Id">
                                            <li><button type="submit" asp-page-handler="RemoveFeedback" class="dropdown-item">Xóa bình luận</button></li>
                                            <li><a class="dropdown-item" asp-page="/Subscription/Register">Chỉnh sửa bình luận</a></li>
                                            </form>
                                        </ul>
                                        
                                    </div>

                                </div>
                            </div>
                        }
                        @foreach (var data in Model.Feedbacks)
                        {
                            <div class="row feedback">
                                <div class="feedback-user">
                                    <div class="wrapper-user-feedback">
                                        <div class="img"></div>
                                        <div>
                                            <h6>@data.User.Name <span class="feedback-date">• @(GlobalService.FromDateToTime(data.PostDate))</span></h6>
                                            <p>@data.Content</p>
                                        </div>
                                    </div>
                                    <i class="fa-regular fa-thumbs-up"></i>
                                </div>
                            </div>
                        }
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="row feedback" id="feedback-post-form" style="display: none;">
                            <div class="wrapper-user-feedback">
                                @{
                                    var user_avatar_image = $"/images/user_avatar/{User.Claims.First(c => c.Type == "Code").Value}";
                                    if (!System.IO.File.Exists(user_avatar_image))
                                    {
                                        user_avatar_image = "/images/login_background.png";
                                    }
                                }
                                <div class="img" style="background-image: url('@user_avatar_image')"></div>
                                <form id="feedback-form" class="feedback-form" method="post" asp-page="/Service/Detail">
                                    <input type="text" autocomplete="off" placeholder="Thêm bình luận" name="content" required>
                                    <input type="hidden" value="@Model.Service.Id" name="serviceId">
                                    <input type="hidden" value="@User.Claims.First(c => c.Type == "ID").Value" name="userId">
                                    <button type="submit"><i class="fa-solid fa-paper-plane" style="color: #4f6083;"></i></button>
                                </form>
                            </div>
                        </div>

                        if(Model.MyFeedback == null)
                        {
                            <script>
                                $('#feedback-post-form').show();
                            </script>
                        }
                    }
                    else
                    {
                        <div class="row">
                            <a class="text-center mt-2" asp-page="/Authentication/Login" asp-route-returnUrl="/Service/Detail?serviceId=@Model.Service.Id">Đăng nhập để thêm bình luận</a>
                        </div>
                    }
                </div>
            </div>

            <div class="col-4 px-4" style="padding-top: 2rem">
                <div class="w-100 p-3 shadow map-wrapper">
                    <h4>Vị trí chi tiết</h4>
                    @if (!User.Identity.IsAuthenticated || User.Claims.First(c => c.Type == "IsSubscript").Value.Equals("False"))
                    {
                        <div class="map-disabled">
                            <p class="text-center">Bạn cần đăng ký thành vên để xem vị trí chi tiết</p>
                            <a class="text-center" asp-page="/Subscription/Register">Đăng ký thành viên</a>
                        </div>
                    }
                    else
                    {
                        <div id="map"></div>
                        <span class="mt-4" style="font-size: .8rem">@Model.Service.Location?.Description</span>

                        <script>
                            var longtitude = @Model.Service.Location?.Longtitude;
                            var latitude = @Model.Service.Location?.Latitude;

                            var map = L.map('map').setView([latitude, longtitude], 10);

                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: '&copy; HolaGuideMap contributors'
                            }).addTo(map);

                            L.marker([latitude, longtitude]).addTo(map)
                                .openPopup();
                        </script>
                    }
                </div>
            </div>
        </div><br />

        <h4>Dịch vụ liên quan</h4>
        <div class="row">
            @foreach (var service in Model.RelatedServices)
            {
                <div class="col-md-3 col-sm-6 mb-3" style="height: 15rem">
                    <div class="card h-100 shadow" style="background-image: url('@(service.Images.Count == 0 ? "/images/HolaGuide_avt.png" : service.Images.First().Path)');
                                                  position: relative; background-position: center;">
                        <div class="card-info">
                            <a asp-page="/Service/Detail" asp-route-serviceId="@service.Id"><h6 class="card-title">@service.Name</h6></a>
                            <p class="card-subtitle">@service.Location.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<script>
    $('#feedback-form').submit(function (event) {
        event.preventDefault(); // Prevent the default form submission
        var formData = $(this).serialize(); // Serialize form data

        $.ajax({
            type: 'POST',
            url: '/Service/Detail?handler=SendFeedback',
            data: formData,
            success: function (response) {
                if (response.status !== 200) {
                    alert(response.message);
                }
                else {
                    const newFeedback = "<div class='row feedback' id='myFeedback'>" +
                        "<div class='feedback-user'>" +
                        "<div class='wrapper-user-feedback'>" +
                        "<div class='img'></div>" +
                        "<div>" +
                        "<h6>Tôi <span class='feedback-date'>• " + response.postdate + "</span></h6>" +
                        "<p>" + response.data.content + "</p>" +
                        "</div>" +
                        "</div>" +
                        "<div class='dropdown'>" +
                        "<button class='btn-custom' type = 'button' data-bs-toggle='dropdown' aria-expanded='false'>" +
                        "<i style='font-size: 1.25rem' class='fa-solid fa-ellipsis-vertical'></i>" +
                        "</button>" +
                        "<ul class='dropdown-menu shadow'>" +
                        "<form class='myfeedback-form' asp-page='/Service/Detail'>" + 
                            "<input type='hidden' name = 'feedbackId' value = '"+response.data.id+"'>" + 
                                "<input type='hidden' name='serviceId' value = '"+@(Model.Service.Id)+"'>" +
                                    "<li><button type='submit' asp-page-handler='RemoveFeedback' class='dropdown-item'> Xóa bình luận </button></li>" + 
                                        "<li><a class='dropdown-item' asp-page='/Subscription/Register'> Chỉnh sửa bình luận </a></li>" + 
                                            "</form>" +
                        "</ul>" +
                        "</div>" +
                        "</div>" +
                        "</div>";

                    $('#feedback-area').prepend(newFeedback);
                    $('#feedback-post-form').hide();
                }
            },
            error: function (xhr, status, error) {
                alert('Send feedback fail due to server error!');
            }
        });
    })
</script>




