@page 
@model HolaGuide.Pages.Home.UserHomeModel
@{
}

<div class="container">
    <div class="row intro">
        <div class="col-7">
            <h1 class="intro-header">Tìm kiếm dịch vụ tại</h1>
            <h1 class="intro-header">HolaGuide</h1>
            <p style="color: black; font-size: 0.8rem;">Cung cấp thông tin về những gì bạn cần!</p>
            <div class="row">
                <a href="#" class="link-button shadow">About Us</a>
            </div>
        </div>
        <div class="col-5">
            <img class="avatar" src="https://tse4.mm.bing.net/th?id=OIP.sQJo75fUXA80fyuX4rjCJAHaEb&pid=Api&P=0&h=220" />
        </div>
    </div>
</div>
<hr style="width: 60%; margin-left: 20%; background: linear-gradient(90deg, rgba(79,96,131,1) 30%, rgba(22,44,91,1) 75%)" />
<div class="container" style="padding: 1rem 0">
    <div class="row">
        <div class="col-2 bordered shadow" style="background-color: white; padding: 0; height: fit-content">
            <div class="w-100 fw-bold" style="font-size: 1.5rem; padding: 0.5rem; color: #162C5B">Khám Phá</div>
            <div class="w-100">
                <ul class="w-100">
                    @foreach (var cat in Model.Categories)
                    {
                        if (cat.Name.Equals(Model.SelectedCategory))
                        {
                            <li class="category-selected"><a asp-page="/Home/UserHome" asp-route-category="@cat.Name">@cat.Name</a><i class="fa-solid fa-angle-right"></i></li>
                        }
                        else
                        {
                            <li class="category"><a asp-page="/Home/UserHome" asp-route-category="@cat.Name">@cat.Name</a><i class="fa-solid fa-angle-right"></i></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="col bordered">
            <div class="container-fluid" style="background-color: #eeeeee; padding: 0; border-radius: 8px;">
                <div class="col-4">
                    <ul class="inline-list w-100">
                        <li class="@(Model.FilterString.Equals("Mới Nhất") ? "filter-selected" : String.Empty)"><a asp-page="/Home/UserHome" asp-route-category="@Model.SelectedCategory" asp-route-filter="Mới Nhất">Mới Nhất</a></li>
                        <li class="@(Model.FilterString.Equals("Gần Tôi") ? "filter-selected" : String.Empty)"><a asp-page="/Home/UserHome" asp-route-category="@Model.SelectedCategory" asp-route-filter="Gần Tôi">Gần Tôi</a></li>
                        <li class="@(Model.FilterString.Equals("Đã Lưu") ? "filter-selected" : String.Empty)"><a asp-page="/Home/UserHome" asp-route-category="@Model.SelectedCategory" asp-route-filter="Đã Lưu">Đã Lưu</a></li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid bordered" style="padding: 0">
                @if(Model.FilterString.Equals("Mới Nhất"))
                {
                    @await Component.InvokeAsync("NewestServices", new {categoryName = Model.SelectedCategory})
                }
                else if (Model.FilterString.Equals("Gần Tôi"))
                {
                    @await Component.InvokeAsync("NearByServices", new {categoryName = Model.SelectedCategory})
                }
                else if (Model.FilterString.Equals("Đã Lưu"))
                {
                    @await Component.InvokeAsync("SavedServices", new {categoryName = Model.SelectedCategory})
                }
                else
                {
                    @await Component.InvokeAsync("NewestServices", new {categoryName = Model.SelectedCategory})
                }
            </div>
        </div>
    </div>
</div>

<style>
    .intro{
        margin-top: 2rem;
        padding-bottom: 1rem;
    }
    .intro-header{
        font-weight: bold;
        color: #162C5B;
    }
    ul{
        padding: 0;
    }
    .category{
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .category-selected{
        background: #f7f7f7;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .bordered{
        border-radius: 8px;
    }
    .inline-list{
        display: flex;
        padding: 0;
        justify-content: center;
    }
    .inline-list li{
        flex: 1;
        text-align: center;
        padding: 1rem;
    }
    .filter-selected, .inline-list li:hover{
        background-color: white;
        border: none;
        border-bottom: 0.5px solid dodgerblue;
    }
    .avatar{
        width: 95%;
        min-height: 250px;
        border-radius: 10px;
        border-top-left-radius: 50px;
    }
    .link-button{
        color: white;
        margin: 2rem .5rem;
        padding: .5rem 1rem;
        background-color: dodgerblue;
        border-radius: 5px;
        width: fit-content;
        height: fit-content;
    }
</style>
