@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using Models.SQLServer;
    @model dynamic
    var data = (List<Service>)Model.Data;
}

<link rel="stylesheet" href="/css/Home/ServiceComponent/Default.css" />

@if (Model.TotalResult == 0)
{
    if (string.IsNullOrEmpty(Model.Search))
    {
        <div class="row px-4 text-center">
            <p>Không tìm thấy kết quả cho <span style="color: #4F6083">"@Model.Category"</span></p>
        </div>
    }
    else
    {
        <div class="row px-4 text-center">
            <p>Không tìm thấy kết quả cho <span style="color: #4F6083">@Model.Search</span> ở @Model.Category</p>
        </div>
    }
}
else
{
    if (string.IsNullOrEmpty(Model.Search))
    {
        <div class="row">
            @foreach (var service in data)
            {
                <div class="col-md-6 col-sm-6 col-xl-4 mb-3" style="height: 15rem">
                    <div class="card h-100 shadow" style="background-image: url('@(service.Images.Count == 0 ? "/images/holaguide_avatar.png" : service.Images.First().Path)');
                                                  position: relative; background-position: center;">
                        <div class="card-info">
                            <a asp-page="/Service/Detail" asp-route-serviceId="@service.Id"><h6 class="card-title">@service.Name</h6></a>
                            <p class="card-subtitle">@service.Location.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row d-flex flex-row justify-content-center align-items-center">
            <ul class="pagination-area">
                <li>
                    <a class="pagination-item shadow"
                       asp-page="/Home/UserHome" asp-route-query="@Model.Search" asp-route-category="@Model.Category" asp-route-filter="@Model.Filter" asp-route-pageNum="1">
                    <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                <li>
                    <a class="pagination-item shadow"
                       asp-page="/Home/UserHome" asp-route-query="@Model.Search" asp-route-category="@Model.Category" asp-route-filter="@Model.Filter" asp-route-pageNum="@(Model.Page == 1 ? 1 : Model.Page - 1)">
                    <i class="fa fa-angle-left"></i>
                    </a>
                </li>
                @for (int i = (Model.Page == 1 ? 1 : Model.Page - 1); i <= (Model.Page == Model.LastPage ? Model.LastPage : Model.Page + 1); i++)
                {
                    if (Model.Page == i)
                    {
                        <li>
                            <a class="pagination-item current-page-index">@(i)</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="pagination-item shadow"
                               asp-page="/Home/UserHome" asp-route-query="@Model.Search" asp-route-category="@Model.Category" asp-route-filter="@Model.Filter" asp-route-pageNum="@i">@(i)</a>
                        </li>
                    }
                }
                <li>
                    <a class="pagination-item shadow"
                       asp-page="/Home/UserHome" asp-route-query="@Model.Search" asp-route-category="@Model.Category" asp-route-filter="@Model.Filter" asp-route-pageNum="@(Model.Page == Model.LastPage ? Model.LastPage : Model.Page + 1)">
                    <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a class="pagination-item shadow"
                       asp-page="/Home/UserHome" asp-route-query="@Model.Search" asp-route-category="@Model.Category" asp-route-filter="@Model.Filter" asp-route-pageNum="@Model.LastPage">
                    <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    }
    else
    {
        <div class="row">
            <p class="py-0 text-center">Tìm thấy @Model.TotalResult kết quả cho <span style="color: #4F6083">"@Model.Search"</span> ở @Model.Category</p>
            <hr style="width: 50%; margin-left: 25%">
        </div>
        <div class="row">
            @foreach (var service in data)
            {
                <div class="col-md-3 col-sm-6 col-xl-4 mb-3" style="height: 15rem">
                    <div class="card h-100 shadow" style="background-image: url('@(service.Images.Count == 0 ? "/images/HolaGuide_avt.png" : service.Images.First().Path)');
                                                  position: relative; background-position: center;">
                        <div class="card-info">
                            <a asp-page="/Service/Detail" asp-route-serviceId="@service.Id"><h6 class="card-title">@service.Name</h6></a>
                            <p class="card-subtitle">@service.Location.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row d-flex flex-row justify-content-center align-items-center">
            <ul class="pagination-area">
                <li>
                    <a class="pagination-item shadow"
                       asp-page="/Home/UserHome" asp-route-query="@Model.Search" asp-route-category="@Model.Category" asp-route-filter="@Model.Filter" asp-route-pageNum="1">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                <li>
                    <a class="pagination-item shadow"
                       asp-page="/Home/UserHome" asp-route-query="@Model.Search" asp-route-category="@Model.Category" asp-route-filter="@Model.Filter" asp-route-pageNum="@(Model.Page == 1 ? 1 : Model.Page - 1)">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
                @for (int i = (Model.Page == 1 ? 1 : Model.Page - 1); i <= (Model.Page == Model.LastPage ? Model.LastPage : Model.Page + 1); i++)
                {
                    if (Model.Page == i)
                    {
                        <li>
                            <a class="pagination-item current-page-index">@(i)</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="pagination-item shadow"
                               asp-page="/Home/UserHome" asp-route-query="@Model.Search" asp-route-category="@Model.Category" asp-route-filter="@Model.Filter" asp-route-pageNum="@i">@(i)</a>
                        </li>
                    }
                }
                <li>
                    <a class="pagination-item shadow"
                       asp-page="/Home/UserHome" asp-route-query="@Model.Search" asp-route-category="@Model.Category" asp-route-filter="@Model.Filter" asp-route-pageNum="@(Model.Page == Model.LastPage ? Model.LastPage : Model.Page + 1)">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a class="pagination-item shadow"
                       asp-page="/Home/UserHome" asp-route-query="@Model.Search" asp-route-category="@Model.Category" asp-route-filter="@Model.Filter" asp-route-pageNum="@Model.LastPage">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    }
}
